<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Frame</title>
</head>
<body>
    <audio id="background-audio" loop autoplay>
        <source src="../components/audio_frame.html" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
    <script>
        var audio = document.getElementById('background-audio');

        if (sessionStorage.getItem('audioPosition')) {
            audio.currentTime = sessionStorage.getItem('audioPosition');
        }

        audio.onpause = function() {
            sessionStorage.setItem('audioPosition', audio.currentTime);
        };
        audio.onended = function() {
            sessionStorage.setItem('audioPosition', 0);
        };
    </script>
</body>
</html>
